build
.git
*.egg-info
dist
output
data/coco
data/custom
data/images
data/img
data/video
logs
output
weights/*.weights
__pycache__
.vscode
assets
backup
checkpoints
weights/d*
weights/y*
.vscode/
*.avi